# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# src에 생기는 산출물 차단
src/**/*.vue.js
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
!src/env.d.ts

# TS build cache 폴더/파일
*.tsbuildinfo
.tsbuild/

# Vite cache
.vite/

# ESLint / TypeScript / test 등 캐시/산출물
.eslintcache
coverage/

.vercel