@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css");
@import "tailwindcss";
@import "../styles/tokens.css";

@source "../../index.html";
@source "../**/*.{vue,ts}";

/* 기본 */
:root { 
  font-family: Pretendard, -apple-system, system-ui, Segoe UI, Roboto, sans-serif; 
}
html, body { height: 100%; }
body { 
  background: rgb(var(--bg)); 
  color: rgb(var(--fg)); 
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}